.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 0.5rem;
}
.DesignTools-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-top: 0.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.option-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.option-button:hover {
  transform: scale(1.1);
}


.option-image {
  width: 50px; 
  height: 50px;
  object-fit: contain;
}

.option-button.selected img {
  border: 2px solid #382918 !important;
  border-radius: 5px;
  padding: 4px;
}

  

.option-text {
 font-size: 11px;
 text-align: center;
 margin: 0;
 color: #382918;
}
  
  
.icon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  transition: 0.3s ease;
  border-bottom: 1px solid #ccc;
  margin: 0.6rem 0;
}

.option-name {
  font-size: 1rem;
  margin-bottom: 0;
}

.tool-selector {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.design-button {
  background-color: #382918;
  border: none;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.Draw-icon {
  width: 24px; 
  height: 24px;
  color: #333;
  transition: transform 0.2s ease-in-out;
}

.option-button:hover .Draw-icon {
  transform: scale(1.1);
}

.option-button.selected .Draw-icon {
  border: 2px solid #382918;
  border-radius: 5px;
  padding: 4px;
}

.line-width-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-family: Arial, sans-serif;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.styled-slider {
  -webkit-appearance: none;
  width: 150px;
  height: 6px;
  background: #ddd;
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
}

.styled-slider:hover {
  background: #bbb;
}

.styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.styled-slider::-webkit-slider-thumb:hover {
  background: #388e3c;
  transform: scale(1.2);
}

.line-preview {
  background-color: #4caf50;
  border-radius: 50%;
  transition: width 0.2s, height 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}


.color-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;

}

.color-option-circle-preview {
  border-radius: 100%;
}

.color-option-Rectangle-preview, .color-option-circle-preview {
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
}

.option-button.selected  .color-option{
  border: 2px solid #382918;
  border-radius: 5px;
  padding: 4px;
}

