/* ================ Side Panel ================ */
.side-panel {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 5;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 90vh;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 250px;
  transition: 0.3s ease;
  overflow: auto;
}

.menu-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 0.5rem 0.5rem 0;
}

.side-panel-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
.side-panel-header .Garden-Planner-Icon {
  width: 50px;
}

.side-panel-header h1 {
  font-size: 1.3rem;
  margin: 0.5rem;
}

.side-panel-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}


/* ================ Collapsed State ================ */
.side-panel.collapsed {
  width: 100px;
  padding: 0.5rem;
}

.side-panel.collapsed .menu-icon {
  font-size: 2rem;
}

.side-panel.collapsed .Garden-Planner-Icon {
  display: none;
}

.side-panel.collapsed .side-panel-header h1 {
  display: none;
}

.side-panel.collapsed .styled-slider   {
  width: 70px;
}

.side-panel.collapsed .option-name {
  display: none;
}

.side-panel.collapsed .icon-container {
  justify-content: center;
}



/* ================ Media Queries ================ */

@media screen and (max-width: 950px) {
  .side-panel {
    width: 250px;
  }
}

/* For small screens (768px or below) */
@media screen and (max-width: 768px) {
  .side-panel {
    width: 180px;
    padding: 0.8rem;
    padding-top: 0.5rem;
  }
  .menu-icon {
    font-size: 1rem;
  }
  .side-panel.collapsed .menu-icon {
    font-size: 1.5rem;
  }
  .side-panel .Garden-Planner-Icon {
    display: none;
  }
  .side-panel-header h1 {
    font-size: 1rem;
    margin: 0;
  }
}
  
/* For very small screens (max-height: 500px) */
@media screen and (max-height: 500px) {
  
  .side-panel-header {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}
