/* ================ Side Panel ================ */
.side-panel {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 100vh;
  background-color: white;
  padding: 1rem;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 300px;
  transition: 0.3s ease;
}

/* Collapsed State */
.side-panel.collapsed {
  width: 80px;
  padding: 0.5rem;
}

.side-panel.collapsed .menu-icon {
  font-size: 2rem;
}

.side-panel.collapsed .Garden-Planner-Icon {
  display: none;
}

.side-panel.collapsed .side-panel-header h1 {
  display: none;
}

/* Side Panel Header */
.side-panel-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.side-panel-header .Garden-Planner-Icon {
  width: 50px;
}

.side-panel-header h1 {
  font-size: 1.3rem;
}

/* Icon */
.menu-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  transition: 0.3s ease;
}




/* ================ Controls ================ */
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Collapsed Controls */
.controls.collapsed label {
  display: none;
}

.controls label {
  margin: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.controls input,
.controls select {
  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s;
}

.controls input:focus,
.controls select:focus {
  border-color: var(--color-primary-green);
  outline: none;
}



/* ================ Media Queries ================ */


@media screen and (max-width: 950px) {
  .side-panel {
    width: 200px;
  }
}

/* For small screens (768px or below) */
@media screen and (max-width: 768px) {
  .side-panel {
    width: 180px;
    padding: 0.8rem;
    padding-top: 0.5rem;
  }

  .controls {
    margin-bottom: 2rem;
  }

  .menu-icon {
    font-size: 1rem;
  }

  .side-panel.collapsed .menu-icon {
    font-size: 1.5rem;
  }
  .side-panel .Garden-Planner-Icon {
    display: none;
  }

  .side-panel-header h1 {
    font-size: 1rem;
    margin: 0;
  }

  .controls.collapsed input[type="color"] {
    margin: 0;
    width: 100%;
  }

  .controls label,
  .controls select,
  .controls input {
    font-size: 0.9rem;
    margin: 0.3rem 0;
  }

  .controls input {
    padding: 0.3rem;
  }

  .controls.collapsed select {
    padding: 0.2rem;
    margin: 0.8rem 0;
    font-size: 0.7rem;
  }
}


@media screen and (max-height: 650px) {
  
/* For very small screens (max-height: 500px) */
@media screen and (max-height: 500px) {
  .controls {
    margin-bottom: 5rem;
  }
  .side-panel-header {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }

  .controls label,
  .controls select,
  .controls input {
    font-size: 0.9rem;
    margin: 0.3rem 0;
  }

  .controls input {
    padding: 0.3rem;
  }

  .controls.collapsed select {
    padding: 0.2rem;
    margin: 0.3rem 0;
    font-size: 0.7rem;
  }
}
}