.icon {
    display: flex;
    flex-wrap: row;
  
  }
  .side-panel {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 100vh;
    background-color: white;
    padding: 1rem;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .side-panel-header {
    display: flex;
  }
  
  .side-panel-header h1{
    margin-right: 1rem;
  }
  