.canvas-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: white;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 10px;
    padding: 0 0.5rem;
  }
  
button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .saveCanvasToFirebase {
    background-color: var(--color-primary-green);
  }
  
  .saveCanvasToFirebase:hover {
    background-color: var(--color-primary-green-hover);
  }
  
  .handleExport {
    background-color: var(--color-primary-blue);
  }
  
  .handleExport:hover {
    background-color: var(--color-primary-blue-hover);
  }
  
  .zoom-button {
    background-color: var(--color-dark-gray);
  }
  
  .zoom-button:hover {
    background-color: var(--color-light-gray);
  }
  

  /* For small screens (768px or below) */
@media screen and (max-width: 768px) {
    button {
        padding: 0.4rem 0.8rem;
        margin: 0.3rem;
        font-size: 0.8rem;
    }
  }
  
  /* For very small screens (max-height: 500px) */
  @media screen and (max-height: 500px) {
    button {
      padding: 0.4rem 0.8rem;
      margin: 0.3rem;
      font-size: 0.7rem;
    }
  }
  